{% extends "base.html" %}

{% block title %}

Search for a Book!

{% endblock %}

{% block contents %}

<div class="container">

<div class="main">

<form method="POST">
  <h3>Book Title</h3> 
  <textarea type="text" name="title" placeholder="Title" class="titleinput"></textarea>
  <br><br>
  <h3>Author</h3> 
  <textarea type="text" name="title" placeholder="Author" class="titleinput"></textarea>
  <br><br>
  <input type="submit" name="sub" value="Submit" class="btn">
</form>

<button class="btn"><a href="{{url_for('userpage')}}"> Search for a New Book </a></button>
<button class="btn"><a href="{{url_for('userpage')}}"> Back to the Main Page </a></button>

<br><br>

</div>

{% endblock %}

{% block heading %}Search for a Book!{% endblock %}
